.home{
     /* display: flex;
     align-items: center;
     justify-content: center;
     overflow: scroll; */
     /* width:100%; */
     /* display: none; */
}
.homeContainer{
 width:800px;
 margin: auto;
}